{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="pt-5 pb-3">About</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <br>
    <p>Nulla pellentesque pharetra diam. Sed eget lacus ut sapien scelerisque mattis. Etiam finibus convallis elit. Nulla sit amet accumsan lorem, eu placerat purus. Donec tellus magna, vehicula ac nisi at, viverra interdum ipsum. Maecenas luctus vitae ipsum non elementum. Ut nisl metus, tristique ac nulla ac, aliquam vestibulum eros. Curabitur maximus urna non sem consequat venenatis. Nam accumsan ipsum ex, ut placerat sapien scelerisque at.</p>
</div>
{% endblock content %}